.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    margin-bottom: 24px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  
  .action-button {
    margin-left: 12px;
  }
  
  .mat-form-field {
    position: relative;
  }
  
  .mat-form-field > .mat-form-field-label {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    transform: translateY(-50%);
    top: 50%;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #999;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-underline {
    display: none;
  }
  
  .mat-icon-button {
    background-color: transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-left: -32px;
    display: none;
  }
  
  .mat-form-field:hover .mat-icon-button {
    display: inline-flex;
  }
  
  .mat-icon {
    font-size: 18px;
    color: #777;
  }
  