<h2 mat-dialog-title class="title">Change Credentials</h2>
<div mat-dialog-content class="content">
  <form [formGroup]="credentialsForm">
    <div class="input-group">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name">
          <button mat-icon-button matSuffix (click)="enableName()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="disableName()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    <div class="input-group">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" placeholder="Role">
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Password">
        <button mat-icon-button matSuffix (click)="enablePassword()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="disablePassword()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button class="action-button" [mat-dialog-close]="credentialsForm.value">Save</button>
  <button mat-button class="action-button" (click)="onCancelClick()">Cancel</button>
</div>
